@page "/"

<PageTitle>HerdSync</PageTitle>

<div class="container-fluid">

    
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

   
 <div class="row">     
    <SummaryCard Title="Stock Count"           Icon="fas fa-clipboard-list" BorderHex="#90b499" Value="@StockCount.ToString()" />
    <SummaryCard Title="Next Vaccination Date" Icon="fas fa-calendar"       BorderHex="#748f7a" Value="2025-07-08" />
    <SummaryCard Title="Lost Stock"            Icon="fas fa-tags"           BorderHex="#90b499" Value="1" />
    <SummaryCard Title="Pregnancies"           Icon="fas fa-child"          BorderHex="#748f7a" Value="@PregnancyCount.ToString()" />
    </div>
    <div class="row align-items-stretch">
    <div class="col-xl-8 col-lg-7 d-flex flex-column">
        <div class="card shadow mb-4 flex-grow-1">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Important Dates</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="height: 100%; min-height: 400px;">
                    <HerdCalendar Entries="@calendarEntries" MaxEntriesPerDay="3" />
                </div>
            </div>
        </div>


        <div class="col-xl-4 col-lg-5 d-flex flex-column">
        <div class="card shadow mb-4 flex-grow-1">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Observations</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <MudDropContainer T="KanbanTaskItem" @ref="_dropContainer" Items="@_tasks" ItemsSelector="@((item, column) => column == "Board")"  Class="d-flex flex-row">
                        <ChildContent>
                            <MudPaper Elevation="0" Width="224px" MinHeight="400px" Class="pa-4 ma-4 d-flex flex-column mud-background-gray rounded-lg">
                                <MudDropZone T="KanbanTaskItem" Identifier="Board" Class="mud-height-full" />
                                @if (NewTaskOpen)
                                {
                                    <MudPaper Elevation="25" Class="pa-2 rounded-lg">
                                        <MudTextField @bind-Value="NewTaskName" Placeholder="New Comment" Underline="false" Margin="Margin.Dense" Class="mx-2 mt-n2"></MudTextField>
                                        <MudButton OnClick="AddTask" Size="Size.Small" Color="Color.Primary" FullWidth="true">Add Comment</MudButton>
                                    </MudPaper>
                                }
                                else
                                {
                                    <MudButton OnClick="@(() => NewTaskOpen = true)" StartIcon="@Icons.Material.Filled.Add" FullWidth="true" Class="rounded-lg py-2">Add Comment</MudButton>
                                }
                            </MudPaper>
                        </ChildContent>
                        <ItemRenderer>
                            <MudPaper Elevation="25" Class="pa-4 rounded-lg my-3">@context.Name</MudPaper>
                        </ItemRenderer>
                    </MudDropContainer>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recent issues</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Oog siektes <span class="float-right">20%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Borsluise <span class="float-right">40%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Vitamine <span class="float-right">60%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">New tag <span class="float-right">80%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Dip <span class="float-right">Complete!</span></h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upcoming developments</h6>
                </div>
                <div class="card-body">
                    <p>
                        Nuwe heinings want Gerrie bly die goed breek of spring oor dit.
                    </p>
                    <p class="mb-0">
                        Raas met Gertruida oordat sy hom aanmoedig.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Cow of the month!</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="/Gertruida.png" alt="...">
                    </div>
                    <p>
                        <b>GERTRUIDA</b><br />
                        Got pregnant three times this year, each time with twins!! Slay gurl!!!
                    </p>
                </div>
            </div>

            

        </div>
    </div>

</div>
<script>

</script>